body {
  /* Got image from www.wa");*/
  background-image: url('https://images.pexels.com/photos/1249734/pexels-photo-1249734.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
}

.column {
  float: left;
  margin-left: 15px;
  align-content: center;
}

.cover:hover {
  width: 150px;
  height: 150px;
}
.row {
  margin-left: 60px;
  margin-top: 10px;
}

.cover {
  width: 90px;
  height: 100px;
  float: left;
  margin-bottom: 10px;
}

#title {
  margin-left: 290px;
  font-size: 5rem;
  margin-top: -10px;
  color: yellow;
  text-align: center;
  background-color: black;
  width: 650px;
}



.videos {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -300px;
}

.like {
  position: fixed;
  top: 95%;
  left: 50%;
  margin-top: -50px;
  margin-left: -220px;
  width: 100px;
  height: 50px;
  background-image: url('https://www.flaticon.com/svg/static/icons/svg/25/25423.svg');
}

.dislike {
  position: fixed;
  top: 95%;
  left: 50%;
  margin-top: -50px;
  margin-left: 20px;
  width: 100px;
  height: 50px;
}

.form {
  position: fixed;
  top: 55%;
  left: 50px;
  margin-top: -50px;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  color: white;
}

.vidContainer {
  float: left;
}

.coverTitle {
  color: white;
  text-align: center;
  font-size: 11px;
}

.formLabel
{
  background-color: black;
  padding: 1px;
}

.formTitle
{
  background-color: black;
  padding: 2px;
}
